<div class="main_page">
        <div  class="header">
            <img src="/assets/images/reflectiz-logo.jpg" alt="logo" class="logo">
            <img src="/assets/images/reflectiz-logo.jpg" alt="logo" class="logoSavePlace">
        </div>

        <div style="background-color: black;" class="imageCar">
            <img src="/assets/images/background.jpg" alt="car" class="car">
            <img src="/assets/images/cars2.jpg" alt="car" class="savePlacecar">
        </div>
        <!-- <div style="background-color: black;" class="imageBackground">
            <img src="/assets/images/background.jpg" alt="background" class="background">
        </div> -->
        <app-buyer-details></app-buyer-details>
            <mat-card class="text">
                <img src="/assets/images/logo.jpg" alt="logo" class="logo">

                    <p class="text1">
                        <mat-label>Fill in the details</mat-label>
                    </p>
                    <p class="text2">
                        <mat-label>And your dream car on the way ...</mat-label>
                    </p>
            </mat-card>
</div>